azure-identity 
azure-keyvault-secrets
#Librería para implementar la arquitectura RAG
langchain

#Librería de utilitarios de langchain
langchain-community

#Librería plugin para que Langchain pueda usar OpenAI
langchain-openai

openai